<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h1 class="mb-4"><span class="text-danger">T</span>he<span class="text-danger">F</span>riyay<span class="text-danger">P</span>ost</h1>
        <a href="/articles/new" class="btn btn-success">New Post</a>

        <% articles.forEach(item => { %>
            
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= item.title %> </h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= item.createdAt.toLocaleDateString() %> 
                    </div>
                    <div class="card-text mb-2">
                        <%= item.description %> 
                    </div>
                    <a href="/articles/<%- item.slug %>" class="btn btn-primary">Read More</a>
                    <a href="/articles/edit/<%- item.id %>" class="btn btn-info">Edit</a>
                    <form action="/articles/<%- item.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>

        <% }) %>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>